.css-Selector {
  font-family: "Shadows Into Light Two", cursive;
}
body {
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  background-color: black;
}
.container {
  width: 960px;
  margin: auto;
}
.image {
  width: 15em;
  height: 18em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header {
  font-family: "Shadows Into Light Two", cursive;
  color: rgb(200, 20, 255);
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 4em 0.2em 4em;
  outline: 5px dashed rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.5);
}
#line {
  width: 920px;
  margin: -20px 0 0 0 0;
}
.hr {
  border-top: 2px solid rgb(200, 20, 255);
}
.instructions {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  color: yellow;
  text-align: center;
  margin: 3em;
}
.main {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
  line-height: 20px;
  width: 19em;
  height: 13em;
  border: 3px dotted rgb(200, 20, 255);
}
.container2 {
  height: 10em;
  position: absolute;
  top: 30%;
  left: 65%;
  font-family: "Montserrat", sans-serif;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.guessedwords {
  position: absolute;
  font-size: 3em;
  line-height: 60px;
  letter-spacing: 3px;
  font-family: "Montserrat", cursive;
  width: 6em;
  height: 5.5em;
  text-align: center;
  top: -25%;
  right: 220%;
  background-color: rgba(250, 250, 250, 0.6);
  outline: 3px dotted rgb(200, 20, 255);
  padding: 0.5em;
}
.warn {
  text-align: center;
  color: red;
}
.test {
  border: 2px dotted red;
}
